@font-face {
    font-family: 'Fruktur';
    src: url('../fonts/fruktur-regular-webfont.woff2') format('woff2'),
        url('../fonts/fruktur-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: rebeccapurple;
}

h1 {
    color: orange;
    font-family: 'Fruktur';
}